<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
</head>
<body>
  <!-- Your HTML content here -->
  <script src="bundle.js"></script>

  hello ji kaise ho sare, nahi btayeggeng ji
</body>
</html>
