<style>
    .navbar {
        background-color: #483285;
        color: #ffffff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-left {
        display: flex;
        align-items: center;
    }

    .navbar-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-right {
        display: flex;
        align-items: center;
    }
</style>

<nav class="navbar">
    <div class="navbar-left">
        <div>new</div>
    </div>
    <div class="navbar-center">
        <div><select name="ruppess" id="" aria-placeholder="heyy" >work
            <option value="one">INR</option>
        </select></div>
        <div><select name="coin" id="">coint
            <option value="bit">BIT</option>
            <option value="new">NEW</option>
        </select></div>
        <div>average</div>
    </div>
    <div class="navbar-right">
        <div>Timer: 60 sec</div>
        <button>Button</button>
        <label>
            <input type="checkbox"> Checkbox
        </label>
    </div>
</nav>
